# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
.venv-*/
venv/
env/

# PyCharm
.idea/

# Jupyter
.ipynb_checkpoints/

# Model artifacts
models/**/*.pt
models/**/*.pkl
models/**/*.png
models/**/*.db

# OS files
.DS_Store
Thumbs.db
